/* Estilos del modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto; /* Permitir desplazamiento en dispositivos pequeños */
}

.modal-content {
  background-color: white;
  margin: 10% auto; /* Ajustar margen superior e inferior para mayor visibilidad */
  padding: 20px;
  width: 90%;
  max-width: 600px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* Contenedor para el título y el enlace de GitHub */
.header-modal {
  display: flex;
  flex-direction: column; /* Cambiar a columna para mejorar el diseño en móviles */
  align-items: center;
  position: relative;
}

.header-modal h2 {
  margin: 10px 0; /* Ajustar el margen superior e inferior */
}

.header-modal .btn-icon {
  position: absolute;
  left: 0; /* Alinear GitHub a la izquierda */
  top: 10px; /* Alineación vertical con el título */
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.header-modal .btn-icon i {
  margin-right: 5px; /* Espacio entre el ícono y el texto */
  font-size: 24px;
}

/* Estilos del enlace a la documentación */
.doc-link {
  margin-top: 20px; /* Espacio entre el título y la documentación */
}

.btn-doc {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.btn-doc i {
  margin-right: 5px;
  font-size: 20px;
}

.btn-icon:hover,
.btn-doc:hover {
  color: #007bff; /* Cambiar color al hacer hover */
}

/* Media queries para dispositivos pequeños */
@media (max-width: 600px) {
  .modal-content {
    width: 95%; /* Ajustar el ancho para dispositivos móviles */
    margin: 10% auto; /* Reducir el margen para dispositivos pequeños */
  }

  .close {
    font-size: 24px; /* Reducir tamaño del ícono de cerrar */
    top: 5px; /* Ajustar la posición del ícono */
    right: 5px; /* Ajustar la posición del ícono */
  }

  .header-modal .btn-icon {
    font-size: 16px; /* Reducir tamaño del ícono en dispositivos pequeños */
    top: 5px; /* Ajustar la posición en dispositivos pequeños */
  }

  .btn-doc {
    font-size: 16px; /* Reducir tamaño del texto del enlace de documentación */
  }
}
